.big_img_block {
    width: 100%;
}

.big_img_block img {
    width: 100%;
}



.artical_card_block {
    display: flex;
    flex-direction: column;
}

.artical_card_block_one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 1em;
}

.class_card {
    padding: 0 20px;
    width: 440px;
    margin: 0em;
    display: flex;
    flex-direction: column;

}

.card_img {
    position: relative;
}
.card_img a{
    position: relative;
    display: block;
}


.card_img img {
    min-width: 100%;
}

.card_title {
    padding: 1em 0em 1.5em;

}

.card_title h4 {
    width: 100%;
}

.card_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity .5s;
}

.class_card:hover .card_shadow {
    opacity: 1;
}

.class_card:hover .card_word {
    opacity: 1;
}

.card_word {
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.card_word p {
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: start;
}
.float{
    opacity: 1;
    transition: opacity .5s;
}

@media screen and (max-width: 768px) {
     .card_img img {
        height: 300px;
        padding: 20px;
    }

    .card_title {
        position: static;
    }

    .card_img {
        display: flex;
    }

    .card_shadow {
        display: none;
    }

    .card_word {
        opacity: 1;
    }

    .card_word p {
        padding: 0;
        position: static;
        transform: translateY(0);
    }
}

@media screen and (max-width: 414px) {
    .card_title h4 {
        width: 100%;
    }

  
}