.big_img_block{
    width: 100%;
    
}

.big_img_block img{
    width: 100%;
}

.img_block{
    max-width: 100%;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,1fr);
    justify-content: center;
    gap: 0.5em;
    padding-top: 1em
}
.img_block img{
    cursor: pointer;
}

.page_body img{
    width: 100%;
    height: 100%;
    object-fit:inherit;
}

.img_inner_three{
    grid-column: 4;
    grid-row: 1/3;
}
.img_inner_six{
    grid-column: 2;
    grid-row: 2/4;
}
.img_inner_ten{
    grid-column: 4;
    grid-row: 3/5;
}
.img_inner_trirteen{
    grid-column: 3;
    grid-row:4/6;
}
.img_inner_sixteen{
    grid-row:5/7;
    
}
.img_inner_nineteen{
    grid-row:6/8;
}
/* 燈箱 */
.light_box{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(000, 000, 000, .8);
    display: none;
    
}

.cross{
    cursor: pointer;
    top: 5%;
    right: 5%;
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.light_pic{
   width: 50%;
    
}

.cross span{
    margin: auto;
    height: 10px;
    width: 40px;
    background-color: #394867;
    position: absolute;
    left: 10%;
    border-radius: 5px;
}

.cross span:first-child{
    rotate: 45deg;

}
.cross span:last-child{
    rotate: -45deg;
}

