@font-face {
    font-family: "roboto";
    src: url(./font/Roboto-Black.ttf);
}

.big_img_block {
    width: 100%;
}

.big_img_block img {
    width: 100%;
}


.teacher_block_two,
.teacher_block_three,
.teacher_block_four {
    margin: auto;
    padding-bottom: 100px;
    padding-top: 100px;
}

.teacher_block_one{
    margin: auto;
    padding-bottom: 100px;
}

.teacher_introduce {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher_name {
    display: flex;
    align-items: end;
    padding-bottom: 1em;
}

.teacher_name h2 {
    padding-right: 1em;
}

.teacher_block_two .introduce_block,
.teacher_block_four .introduce_block {
    order: 1;

}
.introduce_block{
    padding: 1em;
    width: 50%;
}

.introduce_block span {

    font-size: 1.5em;
}

article {
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.8em;
    letter-spacing: 0.2em;
    font-size: 15px;
    padding: 1em 0;
}

.introduce_block p {
    padding-bottom: 1em;
}


.dividing_line {
    text-align: center;
}

/* teacher_name_stick */

.teacher_name_stick {
    display: flex;
}

.teacher_name_stick span {
    font-size: 50px;
    font-family: "roboto";
    font-weight: 900;
    opacity: .5;
}

.teacher_block_two .teacher_name_stick,
.teacher_block_four .teacher_name_stick {
    justify-content: end;
    padding: 0 12% 0;
}

.teacher_block_one .teacher_name_stick,
.teacher_block_three .teacher_name_stick{
    padding: 0 12% 0;
}

.teacher_img{
    width: 25%;
}

.teacher_img img {
    width: 100%;
    border-radius: 15px;
}





/* teacher_work */

.teacher_work {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 77%;
    margin: auto;
}

.teacher_work img {
    padding: 3em 1em;

}

.teacher_work_inner {
    left: 0px;
    display: flex;
    position: absolute;
    margin: auto;
}

/* 自適應 */

@media screen and (max-width: 1024px) {
    .teacher_introduce {
        flex-direction: column-reverse;
        padding: 0 1em;
    }

    .teacher_block_two .introduce_block,
    .teacher_block_four .introduce_block {
        order: 0;

    }

    .teacher_name_stick{
        justify-content: center;
    }
    .teacher_img{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .teacher_img{
        width: 100%;
        padding: 1em;
    }

    .introduce_block{
        width: 100%;
    }

    .teacher_work{
        height: 360px;
    }
}

@media screen and (max-width: 450px) {
    .teacher_name_stick{
        display: none;
    }
}
    
@media screen and (max-width: 414px) {
    .teacher_name{
        padding: 1em 0 0;
    }
    .teacher_name h2 {
        padding-right: 0.5em;
    }
    .teacher_name h3{
        align-self: center;
    }
    .introduce_block{
        width: 100%;
    }
    article{
        font-size: 20px;
        width: 100%;
        font-weight: 900;
    }
    .teacher_work{
        height: 200px;
    }

    .teacher_work_inner img{
        height: 200px;
    }
    .introduce_block span{
        display: none;
    }
  
}