.big_img_block{
    width: 100%;
}

.big_img_block img{
    width: 100%;
}

.article{
    width: 50%;
    margin: auto;
    padding-bottom: 100px;
    border-bottom: 1px solid #FFB800;
}

.article_title{
    font-size: 3em;
    text-align: center;
    padding-bottom: 1em;
}

.second_title{
    font-size: 2em;
    padding: 2em 0 .5em;
}
.third_title{
    font-size: 1.5em;
    padding: 1em 0 .1em;
}
.class_card_block{
    display: flex;
    justify-content: space-evenly;
}
.more_article{
    padding: 5em 0em 3em;
    width: 50%;
    margin: auto;
    text-align: center;
}

.more_article h2{
    padding-bottom: 1em;
}



.class_card{
    
    padding: 20px;
    text-align: center;
}

.card_img{
    position: relative;
}


.card_shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity .5s;
}

.class_card:hover .card_shadow{
    opacity: 1;
}

.card_word p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: start;
    padding: 1em;
}
