.big_img_block {
    width: 100%;
}

.big_img_block img {
    width: 100%;
}


.pay_class_img img {
    border-radius: 15px;
    max-width: 100%;
    padding: 0 1em;
}

.pay_class_one,
.pay_class_two,
.pay_class_three {
    display: flex;
    justify-content: center;
    padding: 100px 0;


}

.pay_class_inner {
    display: flex;
}

.pay_class_two .pay_class_inner {
    flex-direction: row-reverse;
}


.pay_class_word_block {
    display: flex;
    flex-direction: column;
    padding: 0 1em;

}

.pay_class_word_title {
    padding-bottom: 1em;
    border-bottom: 1px solid #FFB800;
}

.teacher_name {
    display: flex;
}


.teacher_name span {
    display: flex;
    font-size: 2em; 
    align-self: center;
}

.teacher_name p {
    align-self: end;
}

.class_date {
    padding: 1em 0;
}

.class_word {
    flex-grow: 1;
    position: relative;

}

.price_signup {
    display: flex;
    justify-content: space-between;

}

.price {
    font-size: 2em;
    color: #FFB800;
    align-self: flex-end;

}

.price span {
    font-size: 1rem;
    color: #fff;
}

.signup {
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
}

.end_line {
    max-width: 80%;
    border-bottom: 1px solid #FFB800;
    margin: auto;
}


/* card_stick */
.pay_class_img {
    position: relative;
}

.card_stick_sure span {
    padding: 0.1em 1em;
    background-color: #FD5A5A;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    top: 10%;
}

.card_stick_real {
    padding: 0.1em 1em;
    background-color: #4CB650;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    top: 3%;
}

@media screen and (max-width: 1024px) {
    .class_date {
        padding: .5em 0;
    }

    .teacher_name span {
        font-size: 1.8em;
    }

    .signup {
        padding: .5em
    }

    .pay_class_inner {
        display: block;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 414px) {
    .card_stick_sure span {
        top: 15%;
    }

}